.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: orange;
}

/* 3 Columns: 100px 1fr 1fr, 3 rows: 1fr 3fr 50px */
.homegrid {
    display: grid;
    width: 98vw;

    grid-template-columns: 50% 1fr;
    grid-template-rows: 100px 70px 1fr 50px;

    background-color: lavender;
}

header {
    background-color: lightcoral;
    

    font-family: 'Poppins', Extra-Bold;
    font-size: 3em;

    display: flex;
    justify-content: left;
    align-items: center;
    
    padding: 1em 1em;

    grid-column: 1/3;
    grid-row: 1/2;
}




nav {
    background-color: lightblue;
    
    display: table;
    
    font-family: 'Arimo', sans-serif;

    grid-column: 1/3;
    grid-row: 2/3;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    text-align: center;
    padding: .7em;
}



section {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    line-height: 35px;

    background-color: white;

    display: flex;
    padding: 1em;
}

.txt{
    grid-column: 1/2;
    grid-row: 3/4;
}

.img{
    grid-column: 2/3;
    grid-row: 3/4;
}
/*Each individual Image*/
section img{
    max-width: 45vw;
    object-fit: scale-down;
}
.bib{
    grid-column: 1/3;
    grid-row: 3/4;
}

.bib li{
    display: flex;
    padding-bottom: 1em;
}

footer {
    background-color: beige;

    
    grid-column: 1/3;
    grid-row: 4/5;

    text-align: right;
    padding: 1em;
}